Manager/INMServer/Service References/LicWebService/LicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/LicService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/LicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/LicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LicWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILicService_LicRequestFirst_InputMessage">
    <wsdl:part name="parameters" element="tns:LicRequestFirst" />
  </wsdl:message>
  <wsdl:message name="ILicService_LicRequestFirst_OutputMessage">
    <wsdl:part name="parameters" element="tns:LicRequestFirstResponse" />
  </wsdl:message>
  <wsdl:message name="ILicService_LicRequestActivation_InputMessage">
    <wsdl:part name="parameters" element="tns:LicRequestActivation" />
  </wsdl:message>
  <wsdl:message name="ILicService_LicRequestActivation_OutputMessage">
    <wsdl:part name="parameters" element="tns:LicRequestActivationResponse" />
  </wsdl:message>
  <wsdl:message name="ILicService_LicCheckActivationState_InputMessage">
    <wsdl:part name="parameters" element="tns:LicCheckActivationState" />
  </wsdl:message>
  <wsdl:message name="ILicService_LicCheckActivationState_OutputMessage">
    <wsdl:part name="parameters" element="tns:LicCheckActivationStateResponse" />
  </wsdl:message>
  <wsdl:portType name="ILicService">
    <wsdl:operation name="LicRequestFirst">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicService/LicRequestFirst" message="tns:ILicService_LicRequestFirst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicService/LicRequestFirstResponse" message="tns:ILicService_LicRequestFirst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LicRequestActivation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicService/LicRequestActivation" message="tns:ILicService_LicRequestActivation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicService/LicRequestActivationResponse" message="tns:ILicService_LicRequestActivation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LicCheckActivationState">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicService/LicCheckActivationState" message="tns:ILicService_LicCheckActivationState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicService/LicCheckActivationStateResponse" message="tns:ILicService_LicCheckActivationState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILicService" type="tns:ILicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LicRequestFirst">
      <soap:operation soapAction="http://tempuri.org/ILicService/LicRequestFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicRequestActivation">
      <soap:operation soapAction="http://tempuri.org/ILicService/LicRequestActivation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicCheckActivationState">
      <soap:operation soapAction="http://tempuri.org/ILicService/LicCheckActivationState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicService">
    <wsdl:port name="BasicHttpBinding_ILicService" binding="tns:BasicHttpBinding_ILicService">
      <soap:address location="http://localhost:8082/LicService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>