Manager/INMServer/Service References/LicWebService/LicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LicWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LicWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CpuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HdModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HdSerial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MacAddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProdName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdSerial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsbInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
  <xs:complexType name="ActivationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivateDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActivated" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProdDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProdName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivationInfo" nillable="true" type="tns:ActivationInfo" />
</xs:schema>